---
layout: page
title: Resume
---
<small>
<div class="jpanel panel-default panel-primary">
<div class="panel-heading ">Summary</div>
  <div class="panel-body">
    
      <ul>
    {% for summary in site.data.summary %}    
          <li class="small">{{ summary }}.</li>
    {% endfor %} 
      <ul>  
    
</div>
</div>


<div class="jpanel panel-default panel-primary">
<div class="panel-heading">Skills</div>
  <div class="panel-body">
    <div class="btn-group" role="group">
    {% for skill in site.data.skills %}
            <button type="button" class="btn btn-default">{{ skill }}</button>
    {% endfor %} 
</div>
</div>
</div>

<div class="jpanel panel-default panel-primary">
<div class="panel-heading">Experience</div>
  <div class="panel-body">
    <dl class="dl-horizontal">
    {% for job in site.data.jobs %}
            <dt>Title</dt><dd class="small">{{ job.title }}</dd>
            <dt>Companty</dt><dd class="small">{{ job.company }}</dd>
            <dt>Period</dt><dd class="small">{{ job.period }}</dd>
            <p>{{ job.description }}</p>
    {% endfor %}
</div>
</div>

<div class="jpanel panel-default panel-primary">
<div class="panel-heading">Education</div>
  <div class="panel-body">
    <dl class="dl-horizontal">
     {% for qualification in site.data.edu %}      
            <dt>Qualification</dt><dd class="small">{{ qualification.qualification }}</dd>
            <dt>College</dt><dd class="small">{{ qualification.college }}</dd>
            <dt>University</dt><dd class="small">{{ qualification.university }}</dd>
            <p>{{ job.description }}</p>
    {% endfor %}
</div>
</div>

<div class="jpanel panel-default panel-primary">
<div class="panel-heading">Certifications</div>
  <div class="panel-body">
    <dl class="dl-horizontal">
    {% for certs in site.data.certs %}
            <img src="{{ certs.logo }}">
            <ul>
              <li class="small"><Strong>{{ certs.name }}</Strong>, {{ certs.org }}  - Expiry : {{ certs.exp }}</li>
            </ul>
    {% endfor %}
</div>
</div>
</small>